<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="../css/main.css"/>
</head>
<body>
<div class="main">
    <div class="container">
        <div class="container-left"><h2 id="change-community" th:text="${community.community_name}" ></h2></div>
        <div class="container-center"><h2>迷家</h2></div>
        <div class="container-right"><h2>菜单</h2></div>
    </div>

    <!-- <div class="div-images"><img src="../images/20160119110012_ziL4e.jpeg.jpg" id="images" style="width: 400px;height: 200px"/></div>-->
    <div class="slider" >
        <ul class="slider-main">

            <li class="slider-panel" th:each="image:${imageList}">
                <a th:href="${image.image_url}" target="_blank"><img  th:src="${image.image_src}" style="height: 150px;width: 400px;"></a>
            </li>
         <!--   <li class="slider-panel">
                <a href="http://www.jb51.net" target="_blank"><img  src="../images/20160125200250_EcHPt.jpeg.jpg" style="height: 150px;width: 400px;"></a>
            </li>
            <li class="slider-panel">
                <a href="http://www.jb51.net" target="_blank"><img  src="../images/link.jpg" style="height: 150px;width: 400px;"></a>
            </li>
            <li class="slider-panel">
                <a href="http://www.jb51.net" target="_blank"><img  src="../images/m1.jpg" style="height: 150px;width: 400px;"></a>
            </li>-->
        </ul>
        <div class="slider-extra">
            <ul class="slider-nav">
                <li class="slider-item"></li>
                <li class="slider-item"></li>
                <li class="slider-item"></li>
                <li class="slider-item"></li>
            </ul>
            <div class="slider-page">
                <a class="slider-pre" href="javascript:;;">&lt;</a>
                <a class="slider-next" href="javascript:;;">&gt;</a>
            </div>
        </div>
    </div>
    <div class="three" >
        <div class="div-img"><img src="../images/link.jpg" style="width: 75px;height: 75px;border-radius: 75px;"  id="market"/><a href="/market/tomain">社区超市</a></div>
        <div class="div-img"><img src="../images/20160119110012_ziL4e.jpeg.jpg" style="width: 75px;height: 75px;border-radius: 75px;"/><a href="/tenement/tomain">物业服务</a></div>
        <div class="div-img"><img src="../images/20160125200250_EcHPt.jpeg.jpg" style="width: 75px;height: 75px;border-radius: 75px;"/></div>
        <div class="div-img"><img src="../images/20160221222104_uARM2.jpeg.jpg" style="width: 75px;height: 75px;border-radius: 75px;"/></div>
        <div class="div-img"><img src="../images/m1.jpg" style="width: 75px;height: 75px;border-radius: 75px;"/></div>
        <div class="div-img"><img src="../images/m2.jpg" style="width: 75px;height: 75px;border-radius: 75px;"/></div>
        <div class="div-img"><img src="../images/t01124c64c1f0425ae5.jpg" style="width: 75px;height: 75px;border-radius: 75px;"/></div>
        <div class="div-img"><img src="../images/tig.jpg" style="width: 75px;height: 75px;border-radius: 75px;"/></div>
    </div>
    <div class="four">
        <div class="four-left"></div>
        <div class="four-right">
            <div class="four-right-top"></div>
            <div class="four-right-center"></div>
            <div class="four-right-bottom"></div>
        </div>
    </div>

    <div class="end">

    </div>
</div>

<script type="text/javascript" src="../js/jquery-3.2.0.min.js"></script>
<script src="../layer/layer.js"></script>
<script type="text/javascript">
/*    $("#market").click(function () {
        window.location.href("")
    })*/

    $(document).ready(function() {
        var length,
                currentIndex = 0,
                interval,
                hasStarted = false, //是否已经开始轮播
                t = 3000; //轮播时间间隔
        length = $('.slider-panel').length;

        //将除了第一张图片隐藏
        $('.slider-panel:not(:first)').hide();
        //将第一个slider-item设为激活状态
        $('.slider-item:first').addClass('slider-item-selected');
        //隐藏向前、向后翻按钮
        $('.slider-page').hide();

        //鼠标上悬时显示向前、向后翻按钮,停止滑动，鼠标离开时隐藏向前、向后翻按钮，开始滑动
        $('.slider-panel, .slider-pre, .slider-next').hover(function() {
            stop();
            $('.slider-page').show();
        }, function() {
            $('.slider-page').hide();
            start();
        });

        $('.slider-item').hover(function(e) {
            stop();
            var preIndex = $(".slider-item").filter(".slider-item-selected").index();
            currentIndex = $(this).index();
            play(preIndex, currentIndex);
        }, function() {
            start();
        });

        $('.slider-pre').unbind('click');
        $('.slider-pre').bind('click', function() {
            pre();
        });
        $('.slider-next').unbind('click');
        $('.slider-next').bind('click', function() {
            next();
        });

        /**
         * 向前翻页
         */
        function pre() {
            var preIndex = currentIndex;
            currentIndex = (--currentIndex + length) % length;
            play(preIndex, currentIndex);
        }
        /**
         * 向后翻页
         */
        function next() {
            var preIndex = currentIndex;
            currentIndex = ++currentIndex % length;
            play(preIndex, currentIndex);
        }
        /**
         * 从preIndex页翻到currentIndex页
         * preIndex 整数，翻页的起始页
         * currentIndex 整数，翻到的那页
         */
        function play(preIndex, currentIndex) {
            $('.slider-panel').eq(preIndex).fadeOut(500)
                    .parent().children().eq(currentIndex).fadeIn(1000);
            $('.slider-item').removeClass('slider-item-selected');
            $('.slider-item').eq(currentIndex).addClass('slider-item-selected');
        }

        /**
         * 开始轮播
         */
        function start() {
            if(!hasStarted) {
                hasStarted = true;
                interval = setInterval(next, t);
            }
        }
        /**
         * 停止轮播
         */
        function stop() {
            clearInterval(interval);
            hasStarted = false;
        }

        //开始轮播
        start();
    });
</script>
</body>
</html>