<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/password.css">
    <link href="../css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="password-main">

    <div id="h2"><h2>找回密码</h2></div>
    <div id="form-psw">
    <form method="post" action="/user/updatepassword">
        <div id="password-input">
            <input  id="input" type="text" name="user_tel" placeholder="请输入手机号">
        </div>
        <div id="password-input">
            <input  id="input" type="text" name="password" placeholder="请输入密码">
        </div>
        <div id="password-input">
            <input  id="input" type="text"  placeholder="确认密码">
        </div>
        <div id="password-input">
            <input type="text" name="validate" placeholder="输入验证码">
            <input type="button" style="height:32px;width:120px;" value="点击发送验证码" onclick="sendCode(this)" />
        </div>
        <div id="password-input">
            <button type="submit" class="btn btn-lg btn-success btn-block" style="width:300px;background-color: deeppink;border-color:white">修改密码</button>
        </div>
    </form>
    </div>
</div>

<script src="../js/jquery-3.2.0.min.js"></script>
<script src="../layer/layer.js"></script>
<script type="text/javascript">
    var clock = '';
    var nums = 60;
    var btn;
    function sendCode(thisBtn)
    {
        btn = thisBtn;
        btn.disabled = true; //将按钮置为不可点击
        btn.value = nums+'秒后可重新获取';
        clock = setInterval(doLoop, 1000); //一秒执行一次
        var user_tel = $("#user_tel").val();
        $.ajax({
            url:"/user/getRandom",
            data:"user_tel="+user_tel,
            type:"get",
            contentType:'application/json',
            success:function (data) {
                layer.msg(data,{icon: 10})
            }
        })
    }
    function doLoop()
    {
        nums--;
        if(nums > 0){
            btn.value = nums+'秒后可重新获取';
        }else{
            clearInterval(clock); //清除js定时器
            btn.disabled = false;
            btn.value = '点击发送验证码';
            nums = 10; //重置时间
        }
    }
</script>
</body>
</html>