.main{
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
}

.title{
    display: flex;
    display: -webkit-flex;
    height: 100px;
    width: 100%;
    background-color: deeppink;
    justify-content: center;
    color: white;
}
.dis{
    display: flex;
    display: -webkit-flex;
    height: 80px;
    width: 100%;

    border-bottom: 1px solid wheat;
}

.dis1{
    display: flex;
    display: -webkit-flex;
    height: 80px;
    width: 80%;
    align-items: center;
/*    justify-content: center;*/
    padding-left: 20px;
}
.dis2{
    display: flex;
    display: -webkit-flex;
    height: 80px;
    width: 20%;
    align-items: center;
    justify-content: center;
}